/* ADAPTACIÓN A CELULAR */


@media screen and (max-width: 576px) {
    #first-title{
        font-size: 20%;
    }

    #light-section {
        height: 0;
        width: 0;
    }
    
    .btn {
        display: none;
    }

    .cnt-form{
       display: flex;
       flex-direction: column;
       align-self: auto;
    }
}




/* ---------------------------------- PRIMERA SECCIÓN ------------------------------------- */
body{
    width: 100vw;
}

.first-page {
    background-color: #45484E;
    height: 100%;
}

#dark-section{
    background: #45484E;
}

#light-section{
    background: #EBEBEB;
}

.btn{
    background-color: #FCD9AF;
    color:#45484E;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    padding: 15px 40px;
    margin-top: 7%;
    margin-right: 9%;
    border-radius: 1vw;
    float: right;

}
.btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #FCD9AF;
}
.nav-item{
    padding: 20px 30px;
}

.nav-link{
    color: #EBEBEB;
    font-family: "Poppins", sans-serif;
    font-size: medium;
    font-weight: 500;
}

#first-title{
    font-size: 80px;
    color: white;
    text-align: justify;
    font-family: "Poppins", sans-serif;
    padding: 20px;
    margin: 40px;
    font-weight: 500;
}





/* ---------------------------------- SEGUNDA SECCIÓN ------------------------------------- */

.header-2{
    width: 80%;
}

#see-all-btn{
    background-color: #FCD9AF;
    color:#45484E;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    padding: 15px 40px;
    border-radius: 1vw;
    width: 60%;
}

#see-all-btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #FCD9AF;
}

/* SAMPLE CARDS */

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,
    minmax(400px,1fr));
    padding:3%;
    grid-gap: 40px;
}

.card{
    background-color: #45484E;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0,0,0,0.19);
}

.card-container{
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}


.card-container img{
    width: 100%;
    display: block;
    border-radius: 20px 20px 0 0;
}
.card-container:after{
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px 20px 0 0;
    opacity: 0.7;
}

.card-content {
    padding: 5% 2.5%;
}

.card-content h4{
    color: #EBEBEB;
    font-weight: 600;
    font-size: 18px;
    margin: 10px 0 15px 0;
}

.card-content p{
    color: #c9c9c9;
    font-size: 15px;
    line-height: 30px;
    font-weight: 400;
}

/* Gallery */

.part-2 {
    width: 100%;
    margin: 10% 0%;
}

.photo{
    width: 100%;
    border-radius: 10px;
}

#gallery-text {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 5%;
    font-family: "Poppins", sans-serif;
}

#gallery-text p{
    color: #949393;
}

#gallery-text h2{
    font-weight: 1000;
}

#gallery-text a{
    color: black;
    text-decoration: none;
}

/* ---------------------------------- QUINTA SECCIÓN ------------------------------------- */
.fifth-page{
    background-color: #45484E;
    width: 100%;
}

.contact-text{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: space-around;
    margin: 10%;
    padding: 5%;
    font-family: "Poppins", sans-serif;
}
.contact-text h1{
    font-weight: 1000;
    font-size:  400%;
    color: #F5F5F5
}

.contact-text p{
    width: 80%;
    color: #949393;
}

.contact-form {
    display: flex;
    height: 100%;
    flex-flow: column ;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    font-weight:bolder;
    font-size: 100%;
    padding: 5%;
    margin: 10% 0;
}

.contact-form h4{
    font-size: 150%;
    color: #F5F5F5;
    font-weight: 1000;
}

.contact-form button {
    padding: 5%;
    align-self: flex-end;
    background-color: transparent;
    border-color: transparent;
    color: #f0ebeb;
    font-weight: bold;
    font-size: larger;
}

.cnt-form{
    display: flex;
    flex-flow: column;
    align-self: flex-start;
    
}
.cnt-form input{
    /* agregar @media para el width si la pantalla es de celular */
    width: 100%; 
    overflow: hidden;
    padding: 5%;
    margin: 3% 0;
    background-color: transparent;
    border-color: transparent;
    border-bottom-color: #f0ebeb;
    color: #f0ebeb;
}

